
@{
    ViewBag.Title = "Create";
}

<h2>Create EmployeeType</h2>

<form method="Post" action="~/EmployeeType/Create" class="col-md-12">
    <input type="text" class="form-control" name="Name">
    <button type="submit" class="btn btn-default"> Save</button>
</form>

